Problem2_CAPM_&_Factor_Model

Import

In [1]:
import numpy as np
import pandas as pd
from math import log
from matplotlib import pyplot as plt

Preprocessing

In [2]:
data = pd.read_csv('dataset.csv')
colname = data.columns
data = data.set_index(data['Date'])
del data['Date']
data[colname[1:-2]] = data[colname[1:-2]]
data['KOR10Y'] = np.log(data['KOR10Y'])
data.head()

,SAMSUNG ELECTRONICS,NAVER,LG CHEM,HYUNDAI MOTORS,SAMSUNG SDI,KAKAO,KB FINANCIAL,LG HHC,SK TELECOM,SK INNOVATION,KOSPI,KOR10Y
Date,,,,,,,,,,,,
2011-01-01,15680,49029,200000,113000,136000,70600,50600,284000,183000,105500,1602.43,1.675226
2011-02-01,19620,51971,420000,179000,156000,80600,57500,407000,164500,204500,2069.73,1.549688
2011-03-01,22140,59080,374000,221000,139500,131900,42600,478000,142500,170000,1955.79,1.324419
2011-04-01,28960,135000,304500,205000,142500,102100,38900,607000,167500,171500,1961.94,1.131402
2011-05-01,25600,143200,260000,234500,143500,80000,37200,478000,216500,127000,1941.15,1.286474

In [3]:
temp_data = data.iloc[:, 0:11].astype('float')
for index in range(len(temp_data)):
    if index == 0:
        continue
    temp_data.iloc[index, :] = np.log(data.iloc[index, 0:11]/data.iloc[index-1, 0:11])
temp_data.drop(['2011-01-01'], inplace=True)
data.drop(['2011-01-01'], inplace=True)
data[colname[1:12]] = temp_data
data.head()

,SAMSUNG ELECTRONICS,NAVER,LG CHEM,HYUNDAI MOTORS,SAMSUNG SDI,KAKAO,KB FINANCIAL,LG HHC,SK TELECOM,SK INNOVATION,KOSPI,KOR10Y
Date,,,,,,,,,,,,
2011-02-01,0.224163,0.058274,0.741937,0.459998,0.137201,0.132469,0.127833,0.359839,-0.106576,0.661857,0.255897,1.549688
2011-03-01,0.120836,0.128207,-0.115999,0.210777,-0.111791,0.492545,-0.299931,0.160798,-0.143569,-0.184770,-0.056624,1.324419
2011-04-01,0.268530,0.826382,-0.205585,-0.075153,0.021277,-0.256091,-0.090860,0.238918,0.161641,0.008785,0.003140,1.131402
2011-05-01,-0.123323,0.058967,-0.157989,0.134446,0.006993,-0.243926,-0.044685,-0.238918,0.256607,-0.300396,-0.010653,1.286474
2011-06-01,0.064294,-0.131140,-0.269893,-0.324603,-0.106523,0.646449,-0.010811,0.364178,0.288836,-0.304089,0.004169,0.806476

In [4]:
numeric_df = data.iloc[:, [i for i in range(0,12)]]
numeric_df.mean()
which_column = numeric_df.columns
returns = np.array(numeric_df)
S = np.array((pd.DataFrame(returns)).cov())
r = np.mean(returns, axis=0)

In [5]:
numeric_df

,SAMSUNG ELECTRONICS,NAVER,LG CHEM,HYUNDAI MOTORS,SAMSUNG SDI,KAKAO,KB FINANCIAL,LG HHC,SK TELECOM,SK INNOVATION,KOSPI,KOR10Y
Date,,,,,,,,,,,,
2011-02-01,0.224163,0.058274,0.741937,0.459998,0.137201,0.132469,0.127833,0.359839,-0.106576,0.661857,0.255897,1.549688
2011-03-01,0.120836,0.128207,-0.115999,0.210777,-0.111791,0.492545,-0.299931,0.160798,-0.143569,-0.184770,-0.056624,1.324419
2011-04-01,0.268530,0.826382,-0.205585,-0.075153,0.021277,-0.256091,-0.090860,0.238918,0.161641,0.008785,0.003140,1.131402
2011-05-01,-0.123323,0.058967,-0.157989,0.134446,0.006993,-0.243926,-0.044685,-0.238918,0.256607,-0.300396,-0.010653,1.286474
2011-06-01,0.064294,-0.131140,-0.269893,-0.324603,-0.106523,0.646449,-0.010811,0.364178,0.288836,-0.304089,0.004169,0.806476
...,...,...,...,...,...,...,...,...,...,...,...,...
2020-08-01,-0.051809,0.163658,0.596040,-0.125952,-0.017392,-0.065186,-0.086634,0.521999,-0.218026,0.423707,0.023587,0.734769
2020-09-01,0.357785,0.115630,-0.230016,-0.020340,-0.044851,-0.408059,0.255495,-0.203108,0.038685,0.119491,0.032678,0.738121
2020-10-01,0.346412,-0.355034,0.439367,0.066249,0.629220,0.576176,0.392926,0.327430,0.175603,0.333543,0.196911,0.903003
2020-11-01,-0.275201,0.424410,-0.154562,-0.274943,0.068504,-0.285252,-0.310012,-0.076894,0.009320,-0.130393,-0.189742,0.670902
2020-12-01,0.365934,0.450033,-0.088847,0.016737,0.074760,0.398972,0.024430,0.135686,-0.124298,-0.179540,0.073938,0.514021

Problem2_Q1

In [6]:
def minus(a,b):
    return a-b
data_1 = data[['SAMSUNG ELECTRONICS', 'NAVER','KOSPI', 'KOR10Y']]
data_1['Samsung-KOR10Y'] = data_1.apply(lambda x: minus(x['SAMSUNG ELECTRONICS'], x['KOR10Y']), axis=1)
data_1['KOSPI-KOR10Y'] = data_1.apply(lambda x: minus(x['KOSPI'], x['KOR10Y']), axis=1)
data_1['Naver-KOR10Y'] = data_1.apply(lambda x: minus(x['NAVER'], x['KOR10Y']), axis=1)
mean_1 = np.mean(data_1)
data_1.head()
cov = data_1.cov()

C:\Users\김수빈\AppData\Local\Temp\ipykernel_25576\979650067.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_1['Samsung-KOR10Y'] = data_1.apply(lambda x: minus(x['SAMSUNG ELECTRONICS'], x['KOR10Y']), axis=1)
C:\Users\김수빈\AppData\Local\Temp\ipykernel_25576\979650067.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_1['KOSPI-KOR10Y'] = data_1.apply(lambda x: minus(x['KOSPI'], x['KOR10Y']), axis=1)
C:\Users\김수빈\AppData\Local\Temp\ipykernel_25576\979650067.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_1['Naver-KOR10Y'] = data_1.apply(lambda x: minus(x['NAVER'], x['KOR10Y']), axis=1)

In [7]:
# cov에서 열 이름이 제대로 매핑되는지 확인
print("Samsung-KOR10Y var: {:6f}, Naver-KOR10Y var : {:6f}, KOSPI-KOR10Y var : {:6f}".format(
    cov.at['Samsung-KOR10Y', 'Samsung-KOR10Y'], 
    cov.at['Naver-KOR10Y', 'Naver-KOR10Y'], 
    cov.at['KOSPI-KOR10Y', 'KOSPI-KOR10Y']))

print("Samsung-KOR10Y cov: {:6f}, Naver-KOR10Y cov : {:6f}, KOSPI-KOR10Y cov : {:6f}".format(
    cov.at['Samsung-KOR10Y', 'KOSPI-KOR10Y'], 
    cov.at['Naver-KOR10Y', 'KOSPI-KOR10Y'], 
    cov.at['KOSPI-KOR10Y', 'KOSPI-KOR10Y']))

Samsung-KOR10Y var: 0.388030, Naver-KOR10Y var : 0.665918, KOSPI-KOR10Y var : 0.132778
Samsung-KOR10Y cov: 0.202229, Naver-KOR10Y cov : 0.230103, KOSPI-KOR10Y cov : 0.132778

Problem2_Q1_result_summary

In [15]:
# 평균값 및 공분산 출력
mean_1 = data_1.mean()
cov = data_1.cov()

# 평균값 출력
print(f"aver\nSamsung-KOR10Y: {mean_1['Samsung-KOR10Y']:.6f}, Naver-KOR10Y: {mean_1['Naver-KOR10Y']:.6f}, KOSPI-KOR10Y: {mean_1['KOSPI-KOR10Y']:.6f}")

# 분산 출력
print(f"var\nSamsung-KOR10Y: {cov.at['Samsung-KOR10Y', 'Samsung-KOR10Y']:.6f}, Naver-KOR10Y: {cov.at['Naver-KOR10Y', 'Naver-KOR10Y']:.6f}, KOSPI-KOR10Y: 
      {cov.at['KOSPI-KOR10Y', 'KOSPI-KOR10Y']:.6f}")

# 공분산 출력
print(f"cov\nSamsung-KOR10Y with KOSPI-KOR10Y: {cov.at['Samsung-KOR10Y', 'KOSPI-KOR10Y']:.6f}, Naver-KOR10Y with KOSPI-KOR10Y: 
      {cov.at['Naver-KOR10Y', 'KOSPI-KOR10Y']:.6f}")

# CAPM에 필요한 beta (b)와 alpha (a) 계산
b_samsung = cov.at['Samsung-KOR10Y', 'KOSPI-KOR10Y'] / cov.at['KOSPI-KOR10Y', 'KOSPI-KOR10Y']
b_naver = cov.at['Naver-KOR10Y', 'KOSPI-KOR10Y'] / cov.at['KOSPI-KOR10Y', 'KOSPI-KOR10Y']

a_samsung = mean_1['Samsung-KOR10Y'] - b_samsung * mean_1['KOSPI-KOR10Y']
a_naver = mean_1['Naver-KOR10Y'] - b_naver * mean_1['KOSPI-KOR10Y']

# 결과 출력
print(f"b (beta)\nSamsung-KOR10Y: {b_samsung:.6f}, Naver-KOR10Y: {b_naver:.6f}")
print(f"a (alpha)\nSamsung-KOR10Y: {a_samsung:.6f}, Naver-KOR10Y: {a_naver:.6f}")

# 잔차 분산 (error variance) 계산
e_var_samsung = cov.at['Samsung-KOR10Y', 'Samsung-KOR10Y'] - b_samsung * cov.at['Samsung-KOR10Y', 'KOSPI-KOR10Y']
e_var_naver = cov.at['Naver-KOR10Y', 'Naver-KOR10Y'] - b_naver * cov.at['Naver-KOR10Y', 'KOSPI-KOR10Y']

# 잔차 분산 출력
print(f"e-var\nSamsung-KOR10Y: {e_var_samsung:.6f}, Naver-KOR10Y: {e_var_naver:.6f}")

aver
Samsung-KOR10Y: -0.993362, Naver-KOR10Y: -0.989021, KOSPI-KOR10Y: -1.001375
var
Samsung-KOR10Y: 0.388030, Naver-KOR10Y: 0.665918, KOSPI-KOR10Y: 0.132778
cov
Samsung-KOR10Y with KOSPI-KOR10Y: 0.202229, Naver-KOR10Y with KOSPI-KOR10Y: 0.230103
b (beta)
Samsung-KOR10Y: 1.523061, Naver-KOR10Y: 1.732984
a (alpha)
Samsung-KOR10Y: 0.531793, Naver-KOR10Y: 0.746346
e-var
Samsung-KOR10Y: 0.080023, Naver-KOR10Y: 0.267154

In [9]:
summary_1_df = data_1[['Samsung-KOR10Y', 'Naver-KOR10Y', 'KOSPI-KOR10Y']]
samsung_b = cov.iloc[4,5] / cov.iloc[5,5]
samsung_a = mean_1[4] - samsung_b * mean_1[5]
samsung_error_variance = cov.iloc[4,4] - (samsung_b**2) * cov.iloc[5,5]
naver_b = cov.iloc[6,5] / cov.iloc[5, 5]
naver_a = mean_1[6] - naver_b * mean_1[5]
naver_error_variance = cov.iloc[6,6] - (naver_b**2) * cov.iloc[5,5]
summary_1_df.loc['aver'] = [mean_1[4], mean_1[6], mean_1[5]]
summary_1_df.loc['var'] = [cov.iloc[4, 4], cov.iloc[6, 6], cov.iloc[5, 5]]
summary_1_df.loc['cov'] = [cov.iloc[4, 5], cov.iloc[6, 5], cov.iloc[5, 5]]
summary_1_df.loc['b'] = [samsung_b, naver_b, 1]
summary_1_df.loc['a'] = [samsung_a, naver_a, 0]
summary_1_df.loc['e-var'] = [samsung_error_variance, naver_error_variance, np.nan]

C:\Users\김수빈\AppData\Local\Temp\ipykernel_25576\506817794.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  samsung_a = mean_1[4] - samsung_b * mean_1[5]
C:\Users\김수빈\AppData\Local\Temp\ipykernel_25576\506817794.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  naver_a = mean_1[6] - naver_b * mean_1[5]
C:\Users\김수빈\AppData\Local\Temp\ipykernel_25576\506817794.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  summary_1_df.loc['aver'] = [mean_1[4], mean_1[6], mean_1[5]]
C:\Users\김수빈\AppData\Local\Temp\ipykernel_25576\506817794.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  summary_1_df.loc['aver'] = [mean_1[4], mean_1[6], mean_1[5]]
C:\Users\김수빈\AppData\Local\Temp\ipykernel_25576\506817794.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  summary_1_df.loc['var'] = [cov.iloc[4, 4], cov.iloc[6, 6], cov.iloc[5, 5]]
C:\Users\김수빈\AppData\Local\Temp\ipykernel_25576\506817794.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  summary_1_df.loc['cov'] = [cov.iloc[4, 5], cov.iloc[6, 5], cov.iloc[5, 5]]
C:\Users\김수빈\AppData\Local\Temp\ipykernel_25576\506817794.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  summary_1_df.loc['b'] = [samsung_b, naver_b, 1]
C:\Users\김수빈\AppData\Local\Temp\ipykernel_25576\506817794.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  summary_1_df.loc['a'] = [samsung_a, naver_a, 0]
C:\Users\김수빈\AppData\Local\Temp\ipykernel_25576\506817794.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  summary_1_df.loc['e-var'] = [samsung_error_variance, naver_error_variance, np.nan]

In [10]:
## Summary
print(summary_1_df)

            Samsung-KOR10Y  Naver-KOR10Y  KOSPI-KOR10Y
Date
2011-02-01       -1.325524     -1.491414     -1.293791
2011-03-01       -1.203582     -1.196212     -1.381043
2011-04-01       -0.862872     -0.305020     -1.128263
2011-05-01       -1.409797     -1.227507     -1.297127
2011-06-01       -0.742182     -0.937616     -0.802307
...                    ...           ...           ...
var               0.388030      0.665918      0.132778
cov               0.202229      0.230103      0.132778
b                 1.523061      1.732984      1.000000
a                 0.531793      0.746346      0.000000
e-var             0.080023      0.267154           NaN

[125 rows x 3 columns]

In [11]:
## Adequacy
error_samsung = data_1['Samsung-KOR10Y'] - (samsung_a + samsung_b * data_1['KOSPI-KOR10Y'])
error_naver = data_1['Naver-KOR10Y'] - (naver_a + naver_b * data_1['KOSPI-KOR10Y'])
correlation = np.corrcoef(np.array([error_samsung, error_naver]))

print("상관 계수 : ", correlation[0,1])

상관 계수 :  0.5806938135553853

Problem2_Q2

In [12]:
def minus(a, b):
    return a-b

# 데이터 선택
data_2 = data[['KAKAO', 'SK TELECOM', 'KOSPI', 'KOR10Y']]

# 평균 및 공분산 계산
mean_2 = data_2.mean()
cov_2 = data_2.cov()

# 베타, 알파, 잔차 분산 계산
kakao_b = cov_2.loc['KAKAO', 'KOSPI'] / cov_2.loc['KOSPI', 'KOSPI']
kakao_a = mean_2['KAKAO'] - kakao_b * mean_2['KOSPI']
kakao_error_variance = cov_2.loc['KAKAO', 'KAKAO'] - (kakao_b**2) * cov_2.loc['KOSPI', 'KOSPI']

sk_b = cov_2.loc['SK TELECOM', 'KOSPI'] / cov_2.loc['KOSPI', 'KOSPI']
sk_a = mean_2['SK TELECOM'] - sk_b * mean_2['KOSPI']
sk_error_variance = cov_2.loc['SK TELECOM', 'SK TELECOM'] - (sk_b**2) * cov_2.loc['KOSPI', 'KOSPI']

# 요약 데이터프레임 생성
summary_2_df = data[['KAKAO', 'SK TELECOM', 'KOSPI']].copy()

# 평균, 분산, 공분산, 베타, 알파 및 잔차 분산 추가
summary_2_df.loc['aver'] = [mean_2['KAKAO'], mean_2['SK TELECOM'], mean_2['KOSPI']]
summary_2_df.loc['var'] = [cov_2.loc['KAKAO', 'KAKAO'], cov_2.loc['SK TELECOM', 'SK TELECOM'], cov_2.loc['KOSPI', 'KOSPI']]
summary_2_df.loc['cov'] = [cov_2.loc['KAKAO', 'KOSPI'], cov_2.loc['SK TELECOM', 'KOSPI'], cov_2.loc['KOSPI', 'KOSPI']]
summary_2_df.loc['b'] = [kakao_b, sk_b, 1]
summary_2_df.loc['a'] = [kakao_a, sk_a, 0]
summary_2_df.loc['e-var'] = [kakao_error_variance, sk_error_variance, np.nan]

# Adequacy  
error_kakao = data_2['KAKAO'] - (kakao_a + kakao_b * data_2['KOSPI'])
error_sk = data_2['SK TELECOM'] - (sk_a + sk_b * data_2['KOSPI'])
corr_2 = np.corrcoef(np.array([error_kakao, error_sk]))
print("상관 계수 : ", corr_2[0, 1])

상관 계수 :  0.11691418699873997

In [13]:
summary_2_df.loc['aver']

KAKAO         0.006527
SK TELECOM    0.002208
KOSPI         0.002654
Name: aver, dtype: float64

In [14]:
summary_2_df

               KAKAO  SK TELECOM     KOSPI
Date
2011-02-01  0.132469   -0.106576  0.255897
2011-03-01  0.492545   -0.143569 -0.056624
2011-04-01 -0.256091    0.161641  0.003140
2011-05-01 -0.243926    0.256607 -0.010653
2011-06-01  0.646449    0.288836  0.004169
...              ...         ...       ...
var         0.128447    0.048209  0.014131
cov         0.020209    0.010693  0.014131
b           1.430089    0.756710  1.000000
a           0.002731    0.000200  0.000000
e-var       0.099546    0.040117       NaN

[125 rows x 3 columns]